<%= javascript_include_tag "rating.js" %>

<% if notice %>
<p id="notice"> <%= notice %> </p>
<% end %>

<h1> <%= t('.title_html') %> </h1>

<% cache ['store', Product.latest] do %>
  <% @products.each do |product| %>
    <% cache ['entry', product] do %>
      <div class="entry" data-name="product">
        <% if product.images.present? %>
          <%= image_tag("/images/#{product.id}/" + product.images.first.name, height: "60px", width: "60px") %>
        <% else %>
          Image not available
        <% end %>
        <h3> <%= product.title %> </h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
          <span class="price"> <%= number_to_currency(product.price) %> </span>
          <%= button_to t('.add_html'), line_items_path(product_id: product), remote: true %>
        </div>
        <% if session[:user_id] %>
          <div>
            Rate It-
            <!--  -->
            <%= select :product, :rating, options_for_select(rating_scale(product)[0], rating_scale(product)[1]),
                 {prompt: 'Select'}, { data: { id: product.id, name: 'rate-product' } } %>
          </div>
        <% end %>
        <div data-name="display-rating">
          Product Rating:
          <span data-name="product-rating"> <%= average_product_rating(product) %> </span>/5
        </div>
        <input type="hidden"  data-path="/api/product/rate" data-name="api_path" />
      </div>
    <% end %>
  <% end %>
<% end %>
